.toggleLightsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 90px;
  border-radius: 0.5rem;
  background-color: rgb(23, 23, 23);
  margin-bottom: 2rem;
  box-shadow: 0px 0px 23px 9px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

.cardIcon {
  height: 50%;
}

.toggleLightsTitle {
  font-weight: bold;
  font-size: 1rem;
  color: #f1f1f1;
  background-color: transparent;
}
