.App {
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  margin: 5rem 0rem;
  text-align: center;
}

.scanBtn {
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #fafafa;
  border: 2px solid #fafafa;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.75, 0.055, 0.675, 0.19);
}

.scanBtn:hover {
  background-color: #fafafa;
  color: #151617;
}
